*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #051e4c;
    color: rgb(239, 80, 80);
}
.header .logo h1{
    font-size: 1.5rem;
}
.header .navigation a{
    margin:  0 15px;
    color: white;
    text-decoration: none;
}
.header .navigation a:hover{
    text-decoration: underline;
    color: red;
    transition: 0.1s ease-out;
}
.hero{
    display: flex;
    align-items: center;
    padding: 50px 10px;
}
.hero-content{
    flex: 1;
}
.hero-content h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(20, 82, 82);
    text-transform: capitalize;
}
.hero-content p{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.hero-content .cta-button{
    padding: 13px 20px;
    background-color: #0044cc;
    color: white;
    text-decoration: none;
    margin: 30%;
   
    border-radius: 5px;
}
.hero-content .cta-button:hover{
    background: #003399;
}
.hero-image img{
max-width: 95%;
border-radius: 10px;
box-shadow: 3px 5px 9px  #051e4c;
}
.service, .about, .lead-form{
    padding: 50px 10px;
    text-align: center;
}
.service h2, .about h2, .lead-formh2{
    margin-bottom: 20px;
    color: #0044cc;
    
}
.service-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.service-cards .card{
flex: 1;
padding: 20px;
background-color: rgba(250, 206, 139, 0.356);
}
.lead-form form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lead-form h2{
    color: #003399;
}
.lead-form p{
    margin: 15px;
}
.lead-form input, .lead-form textarea, .lead-form button{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.lead-form button{
    background: #0044cc;
    color: white;
    cursor: pointer;
}
.lead-form button:hover{
    background-color: #003399;
}
.footer{
    text-align: center;
    padding: 20px 10px;
    background: #0044cc;
    color: white;
}
.footer .social-links a{
margin: 0 10px;
color: white;
text-decoration: none;
}
.footer .social-link a:hover{
    text-decoration: underline;
}